/*/
/*  Design Brief Styles
/*/
.navbar {
  background-color: #28b5f4;
  color: #000000;
}
#content {
  min-height: 100vh;
  text-align: right;
}
  
.title {
  font-size: 8.75em;
  color: #eeedf4;
  text-decoration: none;
  font-style: normal;
  line-height: 33%;
  font-family: pragmatica, sans-serif;
  font-weight: 900;
}


/*/
/*  Footer Styles
/*/
#footer {
  background-color: #0085c1;
}
/* Footer list */
.footer-list{
	list-style: none;
	text-indent: 0%;
}
.footer-link {
	color: #edecf4;
	text-decoration: none;
}
.footer-link:hover {
	color: #28b5f4;
}