/*/
/*  CSS Document
/*/
body {
	background-color: #edecf4;
	font-family: Roboto;
}

::-webkit-scrollbar {
	display: none;
}

.divider {
	height: 7vh;
	min-height: 60px;
}
.divider-mini {
	height: 7vh / 2;
	min-height: 30px;
}
br {
	line-height: 8vh;
	margin-top: -8vh;
}

/*/
/*  Parallax Styling
/*/
.tsa-intro {
	min-height: 100vh;
	padding-bottom: 2.5vh;
}

.tsa-fullpage{
	min-height: 100vh;
}

.tsa-parallax {
	height: 100%;
	width: 100%;
	background: transparent;
}


/*/
/*  Custom Theme Styles
/*/
.title {
	font-size: 8.75em;
	color: #eeedf4;
	text-decoration: none;
	font-style: normal;
	line-height: 33%;
	font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #bcbbc1;
}
.navbar {
	background-color: #94090D;
}
p {
	font-size: 1.75em;
	text-indent: 1.75rem;
}
p.card-text {
	font-size: 1rem;
	text-indent: 1rem;
}
.p-smaller {
	font-size: 1.25em;
}
.p-smaller>br {
	line-height: 10vh;
}
#posts-card.card-columns {
	column-count: 2;
}
h2 {
	text-align: center;
}
.link-list {
	column-count: 2;
	list-style: none;
}
.link-list>li {
	text-align: center;
}
ul {
	list-style: none;
}
.p-tiny {
	font-size: 1em;
}

/*/
/*  Footer Designs
/*/
#footer {
	padding: 0 13% 0 13%;
  min-height: 15vh;
  background-color: #002171;
  color: #eeedf4;
	text-decoration: none;
	text-align: right;
	font-size: 75%;
}
tsa-links {
	text-align: center;
}
#address>br {
	line-height: inherit;
}
h4 {
	font-weight: 100;
}
/* Footer list */
.footer-list{
	list-style: none;
	text-indent: 0%;
}
.footer-link {
	color: #edecf4;
	text-decoration: none;
}
.footer-link:hover {
	color: #94090D;
}
.ndc {
	text-align: center;
	font-size: 75%;
	color: white;
}
