/*/
/*  CSS Document 
/*/
body {
	background-color: #edecf4;
	font-family: Roboto;
}

::-webkit-scrollbar { 
	display: none; 
}

.divider {
	height: 7vh;
	min-height: 60px;
}


/*/ 
/*  Parallax Styling 
/*/
.tsa-intro {
	min-height: 100vh;
	padding-bottom: 2.5vh;
}

.tsa-fullpage{
	min-height: 100vh;
}

.tsa-parallax {
	height: 100%;
	width: 100%;
	background: transparent;
}


/*/ 
/*  Custom Theme Styles 
/*/
a:visited {
  text-decoration: none;
}

a:hover {
  color: #bcbbc1;
}

.title {
  font-size: 8.75em;
  color: #eeedf4;
  text-decoration: none;
  font-style: normal;
  line-height: 33%;
  font-family: pragmatica, sans-serif;
  font-weight: 900;
}

.navbar {
	background-color: #94090D;
}
p {
	font-size: 1.75em;
	text-indent: 1.75rem;
}
p.card-text {
	font-size: 1rem;
	text-indent: 1rem;
}

/*/
/*  Footer Designs
/*/
#footer {
  min-height: 15vh;
  background-color: #002171;
  color: #eeedf4;
}
#resources {
	color: eeedf4;
	text-decoration: none;
	text-align: right;
	font-size: 75%;
}
#resources>h4 {
	font-weight: 100;
}
/* Footer list */
.footer-list{
	list-style: none;
	text-indent: 0%;
}
.footer-link {
	color: #edecf4;
	text-decoration: none;
}
.footer-link:hover {
	color: #94090D;
}