/* CSS Document */
body {
	background-color: #edecf4;
}

/* Parallax Styling */

.tsa-intro {
	min-height: 100vh;
	padding-bottom: 2.5vh;
}

.tsa-fullpage{
	min-height: 100vh;
}

.tsa-parallax {
	height: 100%;
	width: 100%;
	background: transparent;
}


/* Default Theme Styles */

.theme {
	background-color: #94090D;
}

::-webkit-scrollbar { 
	display: none; 
}

.divider {
	height: 7vh;
	min-height: 60px;
}